/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* .loader {
  position: absolute;
  height: 100px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  top: 50%;

 } */



 /* .circle{
  
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 30%;
  animation: animate 2.5s infinite linear;
 }

 .circle:nth-child(1) {
  background: black;
  animation-delay: 0.5s;
 }

 .circle:nth-child(2) {
  background: #1d976c;
  animation-delay: 1s;
 }

 .circle:nth-child(3) {
  background: #9359B9;
  animation-delay: 1.5s;
 }

 .circle:nth-child(4) {
  background: #1d976c;
  animation-delay: 1s;
 }

 .circle:nth-child(5) {
  background: black;
  animation-delay: 0.5s; */
 /* } */
html {
  max-height: 100%;

}
.logo{
  -webkit-box-reflect: below -10px
  linear-gradient(to bottom,
  rgba(0,0,0,0.0),
  rgba(0,0,0,0.5));
  color: #082a3a;
  font-family: monospace;
}

.logo::first-letter{
  color:#1f6cab;
  font-size: larger;
  font-family: monospace, cursive;
}
 .login-signup{
    position: absolute;
    top: 40%;
    bottom:0;
    left:35%;
    right:0;
   
  }
  .word::first-letter{
    color:#1f6cab;
    font-size: larger;
    font-family: monospace, cursive;
  }
 

 .modal-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: 1000;

    border-radius: 5px;
    border: solid white;
    z-index: 10000;
   
    backdrop-filter: blur(10px) ;
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
  }
 
  .modal-child {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    border: solid;
    border-radius: 15px;
    border-image-slice: 1;
    border-width: 5px;
    background-color: white;
    /* border-image-source:
    linear-gradient(
      60deg,
      #2E2F43,
      #A38ED2
    ); */
    transform: translate(-50%, -50%);
    overflow:auto;
    box-shadow: 
    5px 5px 5px #2E2F43,
    10px 10px 10px #A38ED2;
  height:50%;
  width: 50%;


  }
  .errors{
    position: relative;
    left: -40px;
    color: red

  }
  .signupForm{
    position: relative;
    left: 10%;
    display: flex;
  }

  .editform{
    position: relative;
    left: 10%;
    display: flex;
    align-items: stretch;
  }

  .editform form div{
    padding: 5px;
  }
 
  .close-x {
    position: absolute;
    top: 5px;
    right: 40px;
    cursor: pointer;
    border-radius: 70%;
    background-color: rgb(234, 234, 234);
    font-size: larger;
    font-family: sans-serif;
  }


.modal-input-container {
  position: relative;
  width: 250px;
  height: 40px;
  line-height: 40px;
}
.modal-label {
  position: absolute;
  top: 0;
  left: 5px;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
.modal-input {
  width: 75%;
  border-radius: 10px;
  outline: 0;
  padding: .5em;
  border: 2px solid #082a3a;
  box-shadow: none;
  color: #082a3a;

}

.modal-input:focus,
.modal-input:valid {
  border-color: #1f6cab;
}
.modal-input:focus~.modal-label,
.modal-input:valid~.modal-label {
  font-size: 14px;
  top: -22px;
  color: #082a3a;
  padding: 0;
}
/* @keyframes animate {
  0%,
  100% {
    opacity: 0;

  }
  50% { 
    opacity: 1;
  }
} */


/* New Post CSS */
.newPostButton{
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  color: #082a3a;
  border-radius: 7px;
  background: #00e6f6;
  transition: all 0.3s ease;
  width: 100%;
}

/* .invalidNewPostButton{
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #082a3a;
  cursor: no-drop;
  border-radius: 7px;
  background: #00e6f6;
  transition: all 0.3s ease;
  width: 100%;
} */
/* .welcomeTitle{
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: black;
  animation: text 7.5s linear infinite;
}

@keyframes text {
  from {background-position: 0% 50%;}
  to {background-position: 100% 100%;}
} */

.welcomeContainer{
  position: relative;
  
  font-family: monospace;
  color: #082a3a;
  font-size: 5em;
  filter: contrast();
  grid-area: 2 / 1 / 5 / 3; 
  transform:translate(50%, 300%);
 

}

.word{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, 100%);
  animation: switch 8s infinite ease-in-out;
  min-width: 100%;
  margin:auto;
 

}

.word:nth-child(1){
  animation-delay: -7s;

}

.word:nth-child(2){
  animation-delay: -6s;
  
}

.word:nth-child(3){
  animation-delay: -5s;
  
}

@keyframes switch{
  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }

  50%,
  80% {
    filter: blur(180px);
    opacity: 0;

  }
}
.postcontainer{
  background-color: transparent;
  border-radius: 10px;
  z-index: 11;
}
.postHeader{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
  border-bottom: 3px solid #082a3a;
  border-radius: 5px;
  font-family: sans-serif

}

.post form{
  margin: 5px 25px;
  background: transparent;
}
textarea{
  resize: none;
  border: none;
  overflow: scroll;
  background: transparent;
  font-family: sans-serif;
  font-size: large;
  
}
input:focus, textarea {
  outline: none !important;
}
#postButtonModal {
  background-color: transparent;
  border-radius: 20px;
  height: 45px;
  width: 100%;
  font-family: sans-serif;
  font-size: medium;
  padding: 0%;
  margin: 0;

}
.tabsHeader{
  display: flex;
  list-style-type: none;
  height: 30px;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  border-bottom: #082a3a solid;
}

.tabsHeader > li{
  width: 65px;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  background-color: transparent;
  padding:0;
  margin:0;
}
.tabsHeader > li:hover{
  width: 65px;
  height: 25px;
  border-top: 2px solid #082a3a;
  border-left: 1px solid #082a3a;
  border-right: 1px solid #082a3a;
  border-bottom: 2px solid #082a3a;
  padding-top: 4px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  background-color: lightgray;
  
}

.tabsHeader > li:focus{

  background-color: #1f6cab;  

}


ul{
  list-style-type: none;
}
.profile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 2 / 6 / 5; }
  .div2 { grid-area: 1 / 1 / 6 / 2; }
  .div3 { grid-area: 1 / 5 / 6 / 6; }
  .wall{
    position: relative;
  }
  .wall_posts{
    padding:0;
   
   
  }
  .wall_posts li{
    
    /* display: inline-flex; */
    justify-content: center;
    height: 300px;
  
    border: solid;
    border-radius: 15px;
    border-image-slice: 1;
    border-width: 5px;
    background-color: transparent;
    /* border-image-source:
    linear-gradient(
      60deg,
      #2E2F43,
      #A38ED2
    ); */
    overflow:auto;
    box-shadow: 
    10px 10px 10px #A38ED2;
    padding: 0;
    margin: 50px;
    align-items: stretch;
  }
  .post_class{
    align-items: flex-end;
  }

  .wallPostHeader{
    font-style: italic;
    font-weight: 100;
    padding-left: 3%;
    font-size: large;
  }
  .wallPostBody{
    padding-left: 3%;
    font-size: large;
  }
  .wallPostButton{
    padding-left: 3%;
    top: 50%
  }
  .navBarItems{
    display: flex;
    list-style-type: none;
    height: 30px;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    
  }


  .login {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .loginform { grid-area: 2 / 3 / 5 / 6; 
      position: absolute;
      transform:translate(300%, 15%);
    }
   
    .loginHeader { grid-area: 1 / 1 / 2 / 6; }
    .loginfooter { grid-area: 5 / 1 / 6 / 6; }

    p {
      font-size: 3em;
      font-weight: 100;
      font-family: monospace;

    }
    .home{
      position: relative;
      height: 100%;
      z-index: 1000;
    }

    .comment_class{
      align-items: flex-end;
    }
    .commentBody{
      padding-left: 0;
      font-size: medium;
    }

    .postComments li{
    
      /* display: inline-flex; */
      justify-content: center;
      height: 100px;
    
      border: solid;
      border-radius: 15px;
      border-image-slice: 1;
      border-width: 5px;
      background-color: transparent;
      /* border-image-source:
      linear-gradient(
        60deg,
        #2E2F43,
        #A38ED2
      ); */
      overflow:auto;
      /* box-shadow: 
      10px 10px 10px #A38ED2; */
      padding: 0;
      /* margin: 50px; */
      align-items: stretch;
    }

  .newCommentContainer{
      display: flex;
      width: 100%;
      margin-top: 50px;
      padding: 1%;
      
    }

  .commentInputField{
    border: solid black;
    width: 85%;
    padding: 1%;
    border-radius: 50px;
  }
  .newCButton {
    border-radius: 15%;
    width: 10%;
    margin-left: 5px;
    background-color: #00e6f6;
    color: black
  }

#invalidButton{
  cursor: no-drop;
}

#newButton{
  cursor: pointer;
}

.editpostt{
  height: 300px;
  width: 300px;
  position: relative;
}

.profile-container{
  max-height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

}

.profile-header { grid-area: 1 / 1 / 2 / 4; 
}

.profile-sidebar-1 { grid-area: 2 / 1 / 3 / 2; }
.profile-main{ 
  grid-area: 2 / 2 / 3 / 3; 
 

}
.profile-sidebar-2 {grid-area: 2 / 3 / 3 / 4; }

#profilephoto{
  height: 300px;
  width: auto;
}

#coverphoto{
  height: 200px;
  width: 500px;
}

/* .profile-body{
  display: flex;
  flex-direction: column;
}

.profile-main{

  flex: 1 1 auto;
  width: 100%;

} */
