/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* .loader {
  position: absolute;
  height: 100px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  top: 50%;

 } */



 /* .circle{
  
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 30%;
  animation: animate 2.5s infinite linear;
 }

 .circle:nth-child(1) {
  background: black;
  animation-delay: 0.5s;
 }

 .circle:nth-child(2) {
  background: #1d976c;
  animation-delay: 1s;
 }

 .circle:nth-child(3) {
  background: #9359B9;
  animation-delay: 1.5s;
 }

 .circle:nth-child(4) {
  background: #1d976c;
  animation-delay: 1s;
 }

 .circle:nth-child(5) {
  background: black;
  animation-delay: 0.5s; */
 /* } */
 html{
  
  /* min-height: 100 vh; */
  min-height: 100vh;
  max-width: 100vw;
  min-width: 320px;
  max-height:1080px ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F1F2F5;


}

/* .app{
  height: 100%;
  width: 100%;
  position: relative

} */

header{
  height: 56px;
  width: 100%;
  /* padding: 0px, 110px; */
  /* position: -webkit-sticky; */
  position: fixed;
  top: 0;
  display: flex;
  /* background-color: #fff; */
  justify-content: space-between;
  z-index: 1;
  
}
a{
  text-decoration: none;
}
  .word::first-letter{
    color:#1f6cab;
    font-size: larger;
    font-family: monospace, cursive;
  }
  i::before{
    text-decoration: none;
}
i::after{
  text-decoration: none;
}
 
 
  

  
  .signupForm{
    position: relative;
    left: 10%;
    display: flex;
  }

 
 
  





/* New Post CSS */
/* .newPostButton{
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  color: #082a3a;
  border-radius: 7px;
  background: #00e6f6;
  transition: all 0.3s ease;
  width: 100%;
} */

/* .invalidNewPostButton{
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #082a3a;
  cursor: no-drop;
  border-radius: 7px;
  background: #00e6f6;
  transition: all 0.3s ease;
  width: 100%;
} */
/* .welcomeTitle{
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: black;
  animation: text 7.5s linear infinite;
}

@keyframes text {
  from {background-position: 0% 50%;}
  to {background-position: 100% 100%;}
} */







textarea{
  resize: none;
  border: none;
  overflow: scroll;
  background: transparent;
  font-family: sans-serif;
  font-size: large;
  
}
input:focus, textarea {
  outline: none !important;
}




ul{
  list-style-type: none;
}


  /* .wall_posts li{
    
    display: inline-flex;
    justify-content: center;
    height: 300px;
  
    border: solid;
    border-radius: 15px;
    border-image-slice: 1;
    border-width: 5px;
    background-color: transparent;
    overflow:auto;
    box-shadow: 
    10px 10px 10px #A38ED2;
    padding: 0;
    margin: 50px;
    align-items: stretch;
  } */
  .post_class{
    align-items: flex-end;
  }

  .wallPostHeader{
    font-style: italic;
    font-weight: 100;
    padding-left: 3%;
    font-size: large;
  }
  .wallPostBody{
    padding-left: 3%;
    font-size: large;
  }
  .wallPostButton{
    padding-left: 3%;
    top: 50%
  }
  /* .navBarItems{
    display: flex;
    list-style-type: none;
    height: 30px;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    
  } */


  /* .login {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .loginform { grid-area: 2 / 3 / 5 / 6; 
      position: absolute;
      transform:translate(300%, 15%);
    }
   
    .loginHeader { grid-area: 1 / 1 / 2 / 6; }
    .loginfooter { grid-area: 5 / 1 / 6 / 6; } */

    /* p {
      font-size: 3em;
      font-weight: 100;
      font-family: monospace;

    } */
    .home{
      position: relative;
      height: 100%;
      display: flex;
    }

    
#invalidButton{
  cursor: no-drop;
}

#newButton{
  cursor: pointer;
}

.editpostt{
  height: 300px;
  width: 300px;
  position: relative;
}

/* .profile-container{
  max-height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

} */

/* .profile-header { grid-area: 1 / 1 / 2 / 4; 
}

.profile-sidebar-1 { grid-area: 2 / 1 / 3 / 2; }
.profile-main{ 
  grid-area: 2 / 2 / 3 / 3; 
 

}
.profile-sidebar-2 {grid-area: 2 / 3 / 3 / 4; } */

#profilephoto{
  height: 300px;
  width: auto;
}

#coverphoto{
  height: 200px;
  width: 500px;
}
.post-photo-preview{
  height: 200px;
  width: auto;
}

.post-photo{
  height: 200px;
  width: auto;
}
/* .cover-photo{
  height: 200px;
  width: 85%;
  margin-left: 7.5%;
}

.profile-photo{
  height: 200px;
  width: auto;
} */
/* .profile-body{
  display: flex;
  flex-direction: column;
}

.profile-main{

  flex: 1 1 auto;
  width: 100%;

} */

li{
  list-style-type: none;
  margin: 0%;
    padding: 0%;

}
ul{
  list-style-type: none;
  margin: 0%;
    padding: 0%;

}



  
/* #comment-header-name{
  color: #050505;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#comment-header-name-sub{
  color: #656766;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#comment-body-content{
  color: #050505;
  font-size: 1px;
  font-weight: 400;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 5px;

} */