/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* .loader {
  position: absolute;
  height: 100px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  top: 50%;

 } */

 .loader{
  position: absolute;
  height: 100px;
  width: 100px;
  top:50%;
  left: 50%;
  transform:translate(-50%, -50%);
 
  

 }
 .loader span{
  position: absolute;
  border: 0;
  margin: 0;
  height: 40%;
  width: 40%;
  border-radius: 50%;
  animation: spin 2s ease infinite;
  transition: all 1s 
    cubic-bezier(0.68, -0.55, 0.265, 1.55);

 }
 /* .circle{
  
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 30%;
  animation: animate 2.5s infinite linear;
 }

 .circle:nth-child(1) {
  background: black;
  animation-delay: 0.5s;
 }

 .circle:nth-child(2) {
  background: #1d976c;
  animation-delay: 1s;
 }

 .circle:nth-child(3) {
  background: #9359B9;
  animation-delay: 1.5s;
 }

 .circle:nth-child(4) {
  background: #1d976c;
  animation-delay: 1s;
 }

 .circle:nth-child(5) {
  background: black;
  animation-delay: 0.5s; */
 /* } */

 .loader :nth-child(1) {
  background: black;
  animation-delay: -1.5;
 }

 .loader :nth-child(2) {
  background: #1d976c;
  animation-delay: -1s;
 }

 .loader :nth-child(3) {
  background: #9359B9;
  animation-delay: -0.5s;
 }

 .loader :nth-child(4) {
  background: pink;
 }

 .login-signup{
    position: absolute;
    top: 40%;
    bottom:0;
    left:35%;
    right:0;
   
  }


 .modal-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;

    border-radius: 5px;
    border: solid white;
    z-index: 10;
   
    backdrop-filter: blur(3px) ;
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
  }
 
  .modal-child {
    position: absolute;
    /* display: inline-flex; */
    justify-content: center;
    top: 50%;
    left: 50%;
    border: solid;
    border-radius: 15px;
    border-image-slice: 1;
    border-width: 5px;
    /* border-image-source:
    linear-gradient(
      60deg,
      #2E2F43,
      #A38ED2
    ); */
    transform: translate(-50%, -50%);
    overflow:auto;
    box-shadow: 
    5px 5px 5px #2E2F43,
    10px 10px 10px #A38ED2;
  


  }
  .errors{
    position: relative;
    left: -40px;
    color: red

  }
  .signupForm{
    position: relative;
    left: 10%;
    display: flex;
  }
 
  .close-x {
    position: absolute;
    top: 5px;
    right: 40px;
    cursor: pointer;
    border-radius: 70%;
    background-color: rgb(234, 234, 234);
    font-size: larger;
    font-family: sans-serif;
  }


.modal-input-container {
  position: relative;
  width: 250px;
  height: 40px;
  line-height: 40px;
}
.modal-label {
  position: absolute;
  top: 0;
  left: 5px;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
.modal-input {
  width: 75%;
  border-radius: 10px;
  outline: 0;
  padding: .5em;
  border: 2px solid black;
  box-shadow: none;
  color: #111;

}

.modal-input:focus,
.modal-input:valid {
  border-color: darkgreen;
}
.modal-input:focus~.modal-label,
.modal-input:valid~.modal-label {
  font-size: 14px;
  top: -22px;
  color: black;
  padding: 0;
}
/* @keyframes animate {
  0%,
  100% {
    opacity: 0;

  }
  50% { 
    opacity: 1;
  }
} */


/* New Post CSS */
.newPostButton{
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: black;
  border-radius: 7px;
  background: skyblue;
  transition: all 0.3s ease;
  width: 100%;
}

.invalidNewPostButton{
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: black;
  cursor: no-drop;
  border-radius: 7px;
  background: skyblue;
  transition: all 0.3s ease;
  width: 100%;
}
/* .welcomeTitle{
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: black;
  animation: text 7.5s linear infinite;
}

@keyframes text {
  from {background-position: 0% 50%;}
  to {background-position: 100% 100%;}
} */

.welcomeContainer{
  position: relative;
  font-family: monospace;
  color: black;
  font-size: 4em;
  filter: contrast();

}

.word{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: switch 8s infinite ease-in-out;
  min-width: 100%;
  margin:auto;

}

.word:nth-child(1){
  animation-delay: -7s;

}

.word:nth-child(2){
  animation-delay: -6s;
  
}

.word:nth-child(3){
  animation-delay: -5s;
  
}

@keyframes switch{
  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }

  50%,
  80% {
    filter: blur(180px);
    opacity: 0;

  }
}
.postcontainer{
  background-color: transparent;
  border-radius: 10px;
  z-index: 11;
}
.postHeader{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #2E2F43;
  border-radius: 5px;
  font-family: sans-serif

}

.post form{
  margin: 5px 25px;
  background: #fff;
}
textarea{
  resize: none;
  border: none;
  overflow: scroll;
  background: transparent;
  font-family: sans-serif;
  
}
input:focus, textarea {
  outline: none !important;
}
#postButtonModal {
  background-color: transparent;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  font-family: sans-serif;
  font-size: medium;

}
.tabs Headers{
  display: flex;
  list-style-type: none;
  color: blue;
  flex-direction: column;
}
ul{
  list-style-type: none;
}
.profile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 2 / 6 / 5; }
  .div2 { grid-area: 1 / 1 / 6 / 2; }
  .div3 { grid-area: 1 / 5 / 6 / 6; }