

.postComments li{
    margin-bottom: 15px;
}
#comment-header-name{
    color: #050505;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#comment-header-name-sub{
    color: #656766;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#comment-body-content{
    color: #050505;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
  
  .comment-class-and-header{
    display: flex;
    align-items: flex-start;
  }
  .comment-photo-container img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    
  }
  .comment-photo-container{
    width: 40px;
    padding-right: 5px;
  }
  .postComments li .comment_class{
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: solid #F1F2F5;
    border-radius: 15px;
    border-image-slice: 1;
    background-color: #F1F2F5;
    overflow:auto;
    padding: 8px 12px;
    
  }
  .comment-body-with-likes{
    display: flex;
    margin-bottom: 5px;
   
  }
  .comment-likes{
    transform: translate(-15%,85%);
  }

  .comment-body{
    margin: -5px 0 0 4px
  }

.new-comment-container-with-photo{
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
}

.newCommentContainer{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #F1F2F5;
    border-radius: 32px;
    
  }

.commentInputField{
    
    width: 87%;
    padding: 1%;
    
}
.newCButton {
	background:linear-gradient(to bottom, #bec1c4 5%, #d7dade 100%);
	background-color:#bec1c4;
	border-radius:5px;
	border:1px solid #bec1c4;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Arial;
	font-size:15px;
	// font-weight:bold;
	// padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #bec1c4;
    height: 80%;
    transform: translateY(11%);
}
.newCButton:hover {
	background:linear-gradient(to bottom, #d7dade 5%, #bec1c4 100%);
	background-color:#d7dade;
}
.newCButton:active {
	position:relative;
	top:1px;
}

