.home {
    position: relative;
    box-sizing: border-box;
    display: flex;
   
    
}

.main-content{
    width: 80%;
    padding: 32px;
    display: flex;
    margin-top: 50px;
    margin-inline: auto;
    justify-content: space-between;
   
}

// .sidebar-right{
//     width: min(20%, 290px);
//     padding: 8px 0px 0px 0px;
   
// }

// .sidebar-left{
//     width: min(20%, 290px);
//     padding: 8px 0px 0px 0px;
    
// }

#newFeedButtonModal{
    background-color:#f1f2f5;;
    border-radius: 20px;
    border: #f1f2f5;
    height: 45px;
    width: 85%;
    font-family: sans-serif;
    font-size: medium;
    padding: 0%;
    
    
}

.person-container {
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin-left:30px ;
}

.person-title{
    text-align: center;
}

.about-me-links {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.person {
    width: 180px;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 21px;
    color: beige;
}

.newsfeed{
    width: min(60%,870px);
    margin-right: 5%;
}

.about-me-links i {
    color: #1876F2;;
}

.about-me-links a{
    text-align: center;
    padding-top: 10px;
    color: #050505;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-eric{
    text-align: center;
    color: #656766;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-me-links a p {
   
    margin: 0px 0px 25px 0px;
}

.about-me-links a:hover {
   
    background-color: #f1f2f5
}