.logo{
    -webkit-box-reflect: below -8px
    linear-gradient(to bottom,
    rgba(0,0,0,0.0),
    rgba(0,0,0,0.5));
    color: #082a3a;
    font-family: monospace;    
    margin: 0;
        
  }
  
  .logo::first-letter{
    color:#1876F2;
    font-size: larger;
    font-family: monospace, cursive;
    
  }
   .login-signup{
      position: absolute;
      top: 40%;
      bottom:0;
      left:35%;
      right:0;
     
    }

    .logo-container{
        width: 15%;
        height: 100%;
        font-size: 12px;
        padding: 0 10px 0 10px;
        font-family: monospace
        
    }
    .navbar-container{
        width: 100%;
        height: 60px;
        position: relative;
       
    }
    .navbar-item-container{
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        z-index: inherit;
        
        
    }


    .navbar-items{
        display: flex;
        justify-content: space-around;
        width: 40%;
        height: 30px;
        padding-left: 20px;
    }
   
    #profile-link{
        margin-right: 10px;
        display: flex;
        justify-content: space-around;
        width: 20%
    }
    .logout-button{
        color: #1f6cab;
    }

    .navbar-extension{
        height:100%;
        width: 100%;
        background-color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        justify-content: flex-start; 
        padding: 3px; 
        width: 100%;
        color: #050505;
        font-size: 17px;
        font-weight: 500;
        line-height: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
       
        

    }
    .navbar-extension-container{
       position: absolute;
        width: 100%;
        height: 60px;
        padding-top: 2px;
        background-color:#F1F2F5;
        transform: translateY(-4px);
        
    }
    .navbarext-photo{
        height: 40px;
        width: 40px;
        border-radius: 40px;
            
    }

    #visible-navbar{
        display: flex;  
        
    }
    #navbarext-username-name{
        font-size: 13px;
    }
    
    #hidden-navbar {
        display: none;
    }
    .navbarext-extension-content{
        padding-left: 5px;
    }
    

   
    .navbar-photo{
        height: 40px;
        width: 40px;
        border-radius: 40px;
        transform: translateY(-5px)
        
      }

      
      #home-links i{
        text-decoration: none;
        color: #1876F2;
        transform: translateY(5px);
      }

      .logout-icon{
        cursor: pointer;
      }

      #notification-exclamation{
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #F1F2F5;
        border-radius: 20px;
        text-align: center;
        transform: translate(35px, -10px);
      }
      