.logo{
    -webkit-box-reflect: below -8px
    linear-gradient(to bottom,
    rgba(0,0,0,0.0),
    rgba(0,0,0,0.5));
    color: #082a3a;
    font-family: monospace;    
    margin: 0;
        
  }
  
  .logo::first-letter{
    color:#1f6cab;
    font-size: larger;
    font-family: monospace, cursive;
    
  }
   .login-signup{
      position: absolute;
      top: 40%;
      bottom:0;
      left:35%;
      right:0;
     
    }

    .logo-container{
        width: 30%;
        height: 100%;
        font-size: 12px;
        padding: 0 10px 0 10px;
        font-family: monospace
    }
    .navbar-container{
        width: 100%;
        height: 60px;
        position: relative;
       
    }
    .navbar-item-container{
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        background-color: #fff;
        z-index: inherit;
        
        
    }

    .navbar-items{
        display: flex;
        justify-content: space-between;
        width: 70%;
        height: 30px;
        padding: 0;
    }
   
    #profile-link{
        margin-right: 10px;
        display: flex;
        justify-content: space-around;
        width: 20%
    }
    .logout-button{
        color: #1f6cab;
    }

    .navbar-extension{
        height:100%;
        width: 100%;
        background-color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        justify-content: flex-start; 
        padding: 3px; 
        width: 100%;
        color: #050505;
        font-size: 17px;
        font-weight: 500;
        line-height: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
       
        

    }
    .navbar-extension-container{
       
        width: 100%;
        height: 60px;
        padding-top: 2px;
        background-color:#F1F2F5;
        transform: translateY(-4px);
        
       
        
       
        
    }
    .navbarext-photo{
        height: 40px;
        width: 40px;
        border-radius: 40px;
            
    }

    #visible-navbar{
        display: flex;  
        
    }
    #navbarext-username-name{
        font-size: 13px;
    }
    
    #hidden-navbar {
        display: none;
    }
    .navbarext-extension-content{
        padding-left: 5px;
    }
    
    // .notification-container{
    //     position: relative;
    //     width: 200px;
    //     height:min-content;

    // }
    // .notification-links{
    //     padding:12px;
    //     border: none;
    //     outline: none;
    //     width: 200px;


    // }

    // .notification-list{
    //    position:absolute
    // }

    .notification-container{
        width: 300px;
        background: #f2eef9;
        margin: 40px auto;
        
      }

    .notify{
        transform: translateX(50%);
    }

    .notification-button{
       
        background:#2d2f31;
        color: white;
        font-size: 1.2em;
        cursor: pointer;
        display: block;
        z-index: 10000000;
      }
      
      .notification-button::after{
        float: right;
        right: 10%;
        content: "+";
        z-index: 10000001;
        
      }
    
    .notification-list{
        clear: both;
        width: 100%;
        height:0px;
        overflow:hidden;
        text-align: center;
        transition: height .4s ease;
        z-index: 10000000;
      }

    .notification-list li {padding: 30px;}
    #touch{position: absolute; opacity: 0; height:0px;}
    #touch:checked + .notification-list {height: 300px;}

    .navbar-photo{
        height: 40px;
        width: 40px;
        border-radius: 40px;
        transform:translate(10px, -5px)
        
      }

      .test{
        background-color: black;
        color: pink;
      }