.profile-tab-content{

    position: absolute;
    width: 100%;
    margin-top: 10px;
    
    
}
.post-tab-sidebar{
    width: 42%;
}


.aboutMe-container{
   
    height: 300px;
    border: solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    opacity: 90%;
    
  
}


.post-container{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 10px;
    // border-bottom: #65676b 2px solid;

    
}
.post-item-container{
    
    position: relative;
    width: 58%;
    max-height: 1000px ;
    overflow:auto;
   
    justify-content: space-between;
    margin:0 0 0 15px;
    
}

.tabsHeader{
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 50px;
    
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 30px;
    background-color: #ffffff;
    // border-top: #65676b solid 1px;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px ;

  }
  
  .tabsHeader > li{
    display: flex;
    width: 65px;
    height: 55px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #65676b;
    top: 50%;
    left: 50%;
   
    // transform: translateY(20%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .tabsHeader > li:hover{
    width: 75px;
    height: 80%;
    cursor: pointer;
    border-radius: 5px;
    transform: translateY(-1px);
    display: flex;
    
  }
  

  .tabsHeader > li.active{
      color: #1876F2;
      width: 65px;
      display: flex;
      background-color: transparent;
      height: 50px;
      border-radius: 2px;

      

    
  }

  .tabs-friends-list{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    background-color: #ffffff;
    min-height: 300px;
    border-radius: 10px;
    padding: 5px 0 0 20px;

  }
  
