.profile-tab-content{

    position: relative;
    width: 100%;
    
    
}
.post-tab-sidebar{
    width: 40%;
}


.aboutMe-container{
   
    height: 284px;
    border: solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    opacity: 90%;
    
  
}


.post-container{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 10px;

    
   
    
}
.post-item-container{
    
    position: relative;
    width: 60%;
   
    justify-content: space-between;
    margin:0 0 0 15px;


   
    
}